* {
  box-sizing: border-box;
}

:root {
  --inner-width: 1140px;
  --color-primary: #fcdac4;
  --color-secondary: #EF4136;
  --color-item: #FBE6D1;
}

img {
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;

  .home-banner {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  #banner-1 {
    background-image: url('/assets/images/home/home_banner1.jpg');
  }

  #banner-2 {
    background-image: url('/assets/images/home/home_banner2.jpg');
  }
}

.acc-font-size {
  color: var(--color-secondary);
  line-height: 0;

  .size1 {
    font-size: 15.2px;
  }

  .size2 {
    font-size: 19px;
  }

  .size3 {
    font-size: 24.7px;
  }
}

.nav-inner {
  padding-top: 50px;
  max-width: var(--inner-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;

  .menu {
    a {
      cursor: pointer;
      width: 52px;
      height: 52px;
      background: #f7b0a062;
      border-radius: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.menu_trigger {
        background: #fff;
      }

      img {
        width: 100%;
        max-height: 24px;
      }
    }
  }
}


.nav-other-inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;
  padding-top: 0;
  max-width: 96vw;
  background-color: #fff;
  border-radius: 0 0 30px 30px;

  .menu {
    .menu-wrapper {
      display: none;
      font-size: 19px;
      font-weight: 600;
      color: var(--color-secondary);
      @media screen and (min-width: 1670px) {
        display: flex;
        gap: 20px;
      }
    }

    a {
      cursor: pointer;

      &.menu_trigger {
        background: #fff;

        @media screen and (min-width: 1670px) {
          display: none;
        }
      }

      img {
        width: 100%;
        max-height: 24px;
      }
    }
  }
}



.backdrop-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1.4rem;
  max-width: 400px;
  margin: auto;

  .item {
    transition: all .2s;
    border: 2px solid var(--color-secondary);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
    color: var(--color-secondary);
    cursor: pointer;
    font-weight: 500;

    .img-wrap {
      width: 60px;
      height: 100%;
      display: flex;
      justify-content: center;
      background: var(--color-item);
      border-left: 2px solid var(--color-secondary);

      img {
        width: 20px;
      }
    }

    &:hover {
      background: var(--color-secondary);
      color: #fff;
    }
  }

  .menu {
    a {
      cursor: pointer;
      width: 52px;
      height: 52px;
      background: var(--color-item);
      border-radius: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.menu_trigger {
        background: #fff;
      }

      img {
        width: 100%;
        max-height: 24px;
      }
    }
  }
}

.thumb {
  cursor: pointer;
}

footer {
  max-width: var(--inner-width);
}

.content-container {
  height: 100%;
  background: var(--color-primary);
}

.lang-switcher {
  div {
    background: #E2E2E2;
    padding: 5px 10px 6px;

    &.active {
      background-color: var(--color-secondary);
      color: #fff;
    }
  }
}