* {
  box-sizing: border-box;
}

:root {
  --inner-width: 1140px;
  --color-primary: #fcdac4;
  --color-secondary: #EF4136;
  --color-item: #FBE6D1;
  --color-introduction: #be141b;
}

img {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;

  .home-banner {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.acc-font-size {
  color: var(--color-secondary);
  /* line-height: 0; */

  div {
    cursor: pointer;
  }

  div.active {
    border-bottom: 1px solid var(--color-secondary);
  }

  .size1 {
    font-size: 15.2px;
  }

  .size2 {
    font-size: 19px;
  }

  .size3 {
    font-size: 24.7px;
  }
}

nav {
  z-index: 50;
}

.nav-inner {
  padding-top: 50px;
  max-width: var(--inner-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;

  .menu {
    a {
      cursor: pointer;
      width: 52px;
      height: 52px;
      background: #f7b0a062;
      border-radius: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.menu_trigger {
        background: #fff;
      }

      img {
        width: 100%;
        max-height: 24px;
      }
    }
  }
}


.nav-other-inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;
  padding-top: 0;
  max-width: 96vw;
  background-color: #fff;
  border-radius: 0 0 30px 30px;

  .menu {
    .menu-wrapper {
      display: none;
      font-size: 19px;
      font-weight: 600;
      color: var(--color-secondary);

      @media screen and (min-width: 1670px) {
        display: flex;
        gap: 20px;
      }
    }

    a {
      cursor: pointer;

      &.menu_trigger {
        background: #fff;

        @media screen and (min-width: 1670px) {
          display: none;
        }
      }

      img {
        width: 100%;
        max-height: 24px;
      }
    }
  }
  .acc-font-size, .lang-switcher{
    display: none;
  }
  @media screen and (min-width: 768px) {  
    .acc-font-size, .lang-switcher{
      display: flex;
    }
  }
}



.backdrop-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1.4rem;
  max-width: 400px;
  margin: auto;

  .menu-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .item {
    transition: all .2s;
    border: 2px solid var(--color-secondary);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
    color: var(--color-secondary);
    cursor: pointer;
    font-weight: 500;

    .img-wrap {
      width: 60px;
      height: 100%;
      display: flex;
      justify-content: center;
      background: var(--color-item);
      border-left: 2px solid var(--color-secondary);

      img {
        width: 20px;
        transition: transform 0.3s;
      }
    }

    &.expandable.expanded .img-wrap img {
      transform: rotate(45deg);
    }

    &:hover {
      background: var(--color-secondary);
      color: #fff;
    }

    &.submenu-item {
      height: 45px;
      margin-left: 30px;
      font-size: 1.2rem;
      border-width: 1px;
    }
  }

  .submenu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;

    &.hidden {
      max-height: 0;
    }
  }

  .menu {
    a {
      cursor: pointer;
      width: 52px;
      height: 52px;
      background: var(--color-item);
      border-radius: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.menu_trigger {
        background: #fff;
      }

      img {
        width: 100%;
        max-height: 24px;
      }
    }
  }
}

.thumb {
  cursor: pointer;
}

footer {
  max-width: var(--inner-width);
  div{
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}

.content-container {
  height: 100%;
  background: var(--color-primary);
}

.lang-switcher {
  div {
    background: #E2E2E2;
    padding: 5px 10px 6px;

    &.active {
      background-color: var(--color-secondary);
      color: #fff;
    }
  }
}

.page-title-wrapper {
  /* background: url('/assets/images/icon/dot.svg'); */
  /* background-repeat: no-repeat; */
  padding-top: 20px;
  display: inline-block;
  margin-bottom: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 82%;
    background-image: radial-gradient(circle, var(--color-secondary) 2.5px, transparent 2.5px);
    background-size: 14px 6px;
    background-position: 0 center;
    background-repeat: repeat-x;
  }

  .page-title {
    font-size: 2.5rem;
    display: inline-block;
    background: var(--color-introduction);
    color: white;
    padding: 0.125rem 5rem 0.35rem 1.5rem;
    font-weight: 600;
    position: relative;

    &::after {
      content: "";
      height: 100%;
      width: 50px;
      position: absolute;
      right: -50px;
      top: 0;
      background: var(--color-introduction);
      clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -8px;
      left: -12px;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-image: url('/assets/images/icon/page-title-square.svg');
    }
  }
}

/* page template css */
.page-template {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 150px;

  .page-template-content-inner {
    background: #fff;
    padding: 50px;
    max-width: 90%;
    margin: auto;

    h3 {
      font-size: 1.25rem;
      color: var(--color-introduction);
      font-weight: 600;
      margin-bottom: 1.25rem;
    }

    p {
      line-height: 1.8;
      color: #231f20;
    }

    .dot-divider {
      width: 100%;
      height: 3px;
      margin: 20px 0;
      background-image: radial-gradient(circle, var(--color-secondary) 1.5px, transparent 1.5px);
      background-size: 8px 3px;
      background-position: 0 center;
      background-repeat: repeat-x;
    }
  }

}

.single-img-section{
  padding: 20px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &.sm{
    margin: 1.5rem auto;
  }
  &.none{
    margin: .25rem auto;
  }
  p{
    font-style: italic;
    color: #555 !important;
    margin-bottom: 0 !important;
  }
}